body{
    padding-top:50px;
    background-color: black;
    height: 100vh;
}

.contentCalc {
    width: 400px;
    background-color:black;
    margin: 60px;
    margin-left: 200px;
    border: 2px solid lightblue;
    padding: 20px;
    }

.button{
    width: 80px;
    margin: 10px;
    
}

.operators{
    background-color: hsla(0, 0%, 0%, 0.562);
    color: white;
    font-weight: bold;
}
.inputCalc{
    margin: 30px;
    border: 2px solid lightblue;
    background-color: black;
    color: lightgrey;
    height: 50px;
    width: 300px;
    text-align: right;
    padding: 10px;
    
}

.displayResults{
    margin: -26px 30px 30px 30px;
    border: 2px solid lightblue;
    background-color: black;
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 3px;
}

.resultsBox{
    width:80%;
}

.buttonEqual{
width: 220px;


}

.line{
    display: flex;
    flex-direction: row;
}